{% extends "base.html" %}
{% block title %}login{% endblock %}

{% block content %}
<h1 style="text-align: center;">login</h1>
{% with messages=get_flashed_messages(with_categories=True) %}
    {% for category, message in messages%}
        <p class="{{category}}">{{message}}</p>
    {% endfor %}
{% endwith %}
<form method="POST">
    {{form.hidden_tag()}}
    <p>
        {{form.email.label}}
        {{ form.email(class_="input-style", placeholder='Enter your email') }}
        {% if form.email.errors %}
            <span style="color: red;">{{form.email.errors[0]}}</span>
        {% endif %}
    </p>
    <p>
        {{form.password.label}}
        {{ form.password(class_="input-style", placeholder='Enter your password') }}
        {% if form.password.errors %}
            <span style="color: red;">{{form.password.errors[0]}}</span>
        {% endif %}
    </p>
    <p>{{form.submit(class_="submit-btn")}}</p>

    <p style="text-align: center;">
        Don't have an account?
        <a href="{{ url_for('Signup') }}" style="color: #007bff; text-decoration: none;">Sign up</a>
    </p>
</form>
{% endblock %}